In [4]:
import numpy as np
import pandas as pd

In [5]:
excel_file_path = r"C:\Users\tasab\Downloads\Education data\School-Age-Digital-Connectivity.xlsx"

In [6]:
all_sheets = pd.read_excel(excel_file_path, sheet_name = None)

In [7]:
Total_school_age = all_sheets['Total school age']

In [8]:
df = Total_school_age.copy()
df.head()

,ISO3,Countries and areas,Region,Sub-region,Income Group,Total,Residence,Unnamed: 7,Wealth quintile,Unnamed: 9,Source,Unnamed: 11
0,NaN,NaN,NaN,UNICEF Sub-region 1,NaN,NaN,Rural,Urban,Poorest,Richest,Data source,Time period
1,DZA,Algeria,MENA,MENA,Upper middle income (UM),0.237807,0.091202,0.322005,0.005888,0.772502,Multiple Indicator Cluster Survey,2018-19
2,AGO,Angola,SSA,ESA,Lower middle income (LM),0.165507,0.017646,0.243431,0,0.624589,Demographic and Health Survey,2015-16
3,ARG,Argentina,LAC,LAC,Upper middle income (UM),0.398849,NaN,NaN,NaN,NaN,Multiple Indicator Cluster Survey,2011-12
4,ARM,Armenia,ECA,EECA,Upper middle income (UM),0.809218,0.709329,0.883609,0.46602,0.991219,Demographic and Health Survey,2015-16

In [10]:
column_names = ['ISO3', 'Countries and areas', 'Region', 'Sub-region',
       'Income Group', 'Total', 'Rural', 'Urban', 'Poorest',
       'Richest', 'Data source', 'Time period']

In [9]:
df.columns.values

array(['ISO3', 'Countries and areas', 'Region', 'Sub-region',
       'Income Group', 'Total', 'Residence', 'Unnamed: 7',
       'Wealth quintile', 'Unnamed: 9', 'Source', 'Unnamed: 11'],
      dtype=object)

In [83]:
df['Countries and areas'].size

87

In [11]:
df.columns = column_names

In [12]:
df.drop(0,inplace=True)
df.head()

,ISO3,Countries and areas,Region,Sub-region,Income Group,Total,Rural,Urban,Poorest,Richest,Data source,Time period
1,DZA,Algeria,MENA,MENA,Upper middle income (UM),0.237807,0.091202,0.322005,0.005888,0.772502,Multiple Indicator Cluster Survey,2018-19
2,AGO,Angola,SSA,ESA,Lower middle income (LM),0.165507,0.017646,0.243431,0,0.624589,Demographic and Health Survey,2015-16
3,ARG,Argentina,LAC,LAC,Upper middle income (UM),0.398849,NaN,NaN,NaN,NaN,Multiple Indicator Cluster Survey,2011-12
4,ARM,Armenia,ECA,EECA,Upper middle income (UM),0.809218,0.709329,0.883609,0.46602,0.991219,Demographic and Health Survey,2015-16
5,BGD,Bangladesh,SA,SA,Lower middle income (LM),0.366474,0.327793,0.516416,0.087617,0.758899,Multiple Indicator Cluster Survey,2019

In [13]:
df.isnull().sum()

ISO3                    0
Countries and areas     0
Region                  0
Sub-region              0
Income Group            0
Total                   0
Rural                  10
Urban                   7
Poorest                17
Richest                18
Data source             0
Time period             0
dtype: int64

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87 entries, 1 to 87
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ISO3                 87 non-null     object
 1   Countries and areas  87 non-null     object
 2   Region               87 non-null     object
 3   Sub-region           87 non-null     object
 4   Income Group         87 non-null     object
 5   Total                87 non-null     float64
 6   Rural                77 non-null     object
 7   Urban                80 non-null     object
 8   Poorest              70 non-null     object
 9   Richest              69 non-null     object
 10  Data source          87 non-null     object
 11  Time period          87 non-null     object
dtypes: float64(1), object(11)
memory usage: 8.3+ KB

In [15]:
columns_to_convert = ['Rural', 'Urban', 'Poorest', 'Richest']
df[columns_to_convert] = df[columns_to_convert].astype(float)
df['Time period'] = pd.to_datetime(df['Time period'], errors='coerce')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87 entries, 1 to 87
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ISO3                 87 non-null     object
 1   Countries and areas  87 non-null     object
 2   Region               87 non-null     object
 3   Sub-region           87 non-null     object
 4   Income Group         87 non-null     object
 5   Total                87 non-null     float64
 6   Rural                77 non-null     float64
 7   Urban                80 non-null     float64
 8   Poorest              70 non-null     float64
 9   Richest              69 non-null     float64
 10  Data source          87 non-null     object
 11  Time period          62 non-null     datetime64[ns]
dtypes: datetime64[ns](1), float64(5), object(6)
memory usage: 8.3+ KB

In [16]:
df.shape

(87, 12)

In [17]:
df.size

1044

In [18]:
df_with_null = df[df.isnull().any(axis=1)]

In [19]:
df_with_null

,ISO3,Countries and areas,Region,Sub-region,Income Group,Total,Rural,Urban,Poorest,Richest,Data source,Time period
1,DZA,Algeria,MENA,MENA,Upper middle income (UM),0.237807,0.091202,0.322005,0.005888,0.772502,Multiple Indicator Cluster Survey,NaT
2,AGO,Angola,SSA,ESA,Lower middle income (LM),0.165507,0.017646,0.243431,0.000000,0.624589,Demographic and Health Survey,NaT
3,ARG,Argentina,LAC,LAC,Upper middle income (UM),0.398849,NaN,NaN,NaN,NaN,Multiple Indicator Cluster Survey,2011-12-01
4,ARM,Armenia,ECA,EECA,Upper middle income (UM),0.809218,0.709329,0.883609,0.466020,0.991219,Demographic and Health Survey,NaT
7,BEN,Benin,SSA,WCA,Low income (L),0.035497,0.014737,0.067897,0.000000,0.161288,Demographic and Health Survey,NaT
8,BOL,Bolivia (Plurinational State of),LAC,LAC,Lower middle income (LM),0.121600,0.037369,0.166051,NaN,NaN,EDSA,2016-01-01
14,CAF,Central African Republic,SSA,WCA,Low income (L),0.038162,0.006911,0.094210,0.002051,0.162523,Multiple Indicator Cluster Survey,NaT
17,CHN,China,EAP,EAP,Upper middle income (UM),0.570031,0.499891,0.909822,NaN,0.900895,CHARLS,2018-01-01
18,COL,Colombia,LAC,LAC,Upper middle income (UM),0.357326,0.048987,0.476935,0.012039,0.984441,Demographic and Health Survey,NaT
22,COD,Democratic Republic of the Congo,SSA,WCA,Low income (L),0.010785,0.004122,0.019697,0.003141,0.025809,Multiple Indicator Cluster Survey,NaT
25,ECU,Ecuador,LAC,LAC,Upper middle income (UM),0.415446,0.198811,0.527485,NaN,NaN,ENSANUT,2018-01-01
26,EGY,Egypt,MENA,MENA,Lower middle income (LM),0.171431,0.092388,0.294793,NaN,NaN,"2015 Household Income, Expenditure and Consump...",2015-01-01
29,GHA,Ghana,SSA,WCA,Lower middle income (LM),0.170109,0.104379,0.257163,0.026830,0.512018,Multiple Indicator Cluster Survey,NaT
30,GTM,Guatemala,LAC,LAC,Upper middle income (UM),0.085013,0.026953,0.178279,0.000000,0.448331,Demographic and Health Survey,NaT
31,GNB,Guinea-Bissau,SSA,WCA,Low income (L),0.022782,0.015574,0.036674,0.001746,0.045282,Multiple Indicator Cluster Survey,NaT
32,HTI,Haiti,LAC,LAC,Low income (L),0.205150,0.112421,0.362219,0.002496,0.645008,Demographic and Health Survey,NaT
33,IND,India,SA,SA,Lower middle income (LM),0.085036,0.050407,0.167180,0.004029,0.362427,Demographic and Health Survey,NaT
37,JOR,Jordan,MENA,MENA,Upper middle income (UM),0.378121,0.352234,0.381371,0.232045,0.716426,Demographic and Health Survey,NaT
38,KEN,Kenya,SSA,ESA,Lower middle income (LM),0.319000,NaN,0.237000,NaN,NaN,STEP Skills Measurement Household Survey 2013 ...,2013-01-01
39,KIR,Kiribati,EAP,EAP,Lower middle income (LM),0.514320,0.327377,0.691726,0.142337,0.868637,Multiple Indicator Cluster Survey,NaT
44,MDV,Maldives,SA,SA,Upper middle income (UM),0.697267,0.685320,0.718697,0.499847,0.927689,Demographic and Health Survey,NaT
47,MEX,Mexico,LAC,LAC,Upper middle income (UM),0.407819,0.110358,0.515482,NaN,NaN,ENSANUT,2018-01-01
49,MNE,Montenegro,ECA,EECA,Upper middle income (UM),0.816516,0.735343,0.857383,0.493396,0.994773,Multiple Indicator Cluster Survey,NaT
50,MAR,Morocco,MENA,MENA,Lower middle income (LM),0.176527,0.118622,0.231646,NaN,NaN,Morocco Household and Youth Survey 2010,2010-01-01
53,NIC,Nicaragua,LAC,LAC,Lower middle income (LM),0.037202,NaN,NaN,NaN,NaN,Nicaragua National Demographic and Health Surv...,2011-12-01
54,NER,Niger,SSA,WCA,Low income (L),0.031238,NaN,NaN,NaN,NaN,National Survey on Household Living Conditions...,NaT
55,NGA,Nigeria,SSA,WCA,Lower middle income (LM),0.034441,NaN,NaN,NaN,NaN,"General Household Survey, Panel 2018-2019, Wave 4",NaT
58,PER,Peru,LAC,LAC,Upper middle income (UM),0.259617,0.014205,0.343220,NaN,NaN,ENDES,2019-01-01
60,LCA,Saint Lucia,LAC,LAC,Upper middle income (UM),0.475015,0.483903,0.438624,0.119213,NaN,Multiple Indicator Cluster Survey,2012-01-01
65,SOM,Somalia,SSA,ESA,Low income (L),0.131058,NaN,NaN,NaN,NaN,Somalia High Frequency Survey,NaT
66,ZAF,South Africa,SSA,ESA,Upper middle income (UM),0.200248,NaN,NaN,NaN,NaN,South Africa Living Conditions Survey 2014-15,NaT
72,THA,Thailand,EAP,EAP,Upper middle income (UM),0.714792,0.674158,0.776993,0.474594,0.958180,Multiple Indicator Cluster Survey,NaT
73,MKD,North Macedonia,ECA,EECA,Upper middle income (UM),0.921479,0.902471,0.933989,0.697013,1.000000,Multiple Indicator Cluster Survey,NaT
81,UKR,Ukraine,ECA,EECA,Lower middle income (LM),0.706000,NaN,0.706000,NaN,NaN,STEP Skills Measurement Household Survey 2013 ...,2013-01-01
82,GBR,United Kingdom,ECA,WE,High income (H),0.993000,NaN,NaN,NaN,NaN,UK Data Archive Information for the Study 8298...,2016-01-01
83,URY,Uruguay,LAC,LAC,High income (H),0.630740,0.474932,0.647373,0.353143,NaN,Multiple Indicator Cluster Survey,NaT
85,VNM,Viet Nam,EAP,EAP,Lower middle income (LM),0.620000,NaN,0.620000,NaN,NaN,STEP Skills Measurement Household Survey 2012 ...,2012-01-01
86,ZMB,Zambia,SSA,ESA,Lower middle income (LM),0.058168,0.017940,0.127965,0.000000,0.280698,Demographic and Health Survey,NaT
87,ZWE,Zimbabwe,SSA,ESA,Lower middle income (LM),0.259454,0.175988,0.490904,0.044936,0.619718,Multiple Indicator Cluster Survey,NaT

In [20]:
df_with_null.size

468

In [21]:
# Impute missing values with the mean of each column
#This is a simple method and can work well if the missing values are missing completely at random.
df['Rural'].fillna(df['Rural'].mean(), inplace=True)
df['Urban'].fillna(df['Urban'].mean(), inplace=True)
df['Poorest'].fillna(df['Poorest'].mean(), inplace=True)
df['Richest'].fillna(df['Richest'].mean(), inplace=True)

In [22]:
df.head()

,ISO3,Countries and areas,Region,Sub-region,Income Group,Total,Rural,Urban,Poorest,Richest,Data source,Time period
1,DZA,Algeria,MENA,MENA,Upper middle income (UM),0.237807,0.091202,0.322005,0.005888,0.772502,Multiple Indicator Cluster Survey,NaT
2,AGO,Angola,SSA,ESA,Lower middle income (LM),0.165507,0.017646,0.243431,0.000000,0.624589,Demographic and Health Survey,NaT
3,ARG,Argentina,LAC,LAC,Upper middle income (UM),0.398849,0.270814,0.439327,0.184760,0.625947,Multiple Indicator Cluster Survey,2011-12-01
4,ARM,Armenia,ECA,EECA,Upper middle income (UM),0.809218,0.709329,0.883609,0.466020,0.991219,Demographic and Health Survey,NaT
5,BGD,Bangladesh,SA,SA,Lower middle income (LM),0.366474,0.327793,0.516416,0.087617,0.758899,Multiple Indicator Cluster Survey,2019-01-01

In [23]:
df.isnull().sum()

ISO3                    0
Countries and areas     0
Region                  0
Sub-region              0
Income Group            0
Total                   0
Rural                   0
Urban                   0
Poorest                 0
Richest                 0
Data source             0
Time period            25
dtype: int64

In [24]:
df.duplicated().sum()

0

In [25]:
total_school_age = df.copy()

In [26]:
Pre_Primary = all_sheets['Pre-primary']

In [27]:
df1= Pre_Primary.copy()

In [28]:
df1.head()

,ISO3,Countries and areas,Region,Sub-region,Income Group,Total,Residence,Unnamed: 7,Wealth quintile,Unnamed: 9,Source,Unnamed: 11
0,NaN,NaN,NaN,UNICEF Sub-region 1,NaN,NaN,Rural,Urban,Poorest,Richest,Data source,Time period
1,DZA,Algeria,MENA,MENA,Upper middle income (UM),0.193468,0.102558,0.249373,0.008224,0.716764,Multiple Indicator Cluster Survey,2018-19
2,AGO,Angola,SSA,ESA,Lower middle income (LM),0.117061,0.010549,0.187054,0,0.579594,Demographic and Health Survey,2015-16
3,ARG,Argentina,LAC,LAC,Upper middle income (UM),0.343599,NaN,NaN,NaN,NaN,Multiple Indicator Cluster Survey,2011-12
4,ARM,Armenia,ECA,EECA,Upper middle income (UM),0.769887,0.667488,0.843461,0.454192,0.978386,Demographic and Health Survey,2015-16

In [29]:
df1.columns.values

array(['ISO3', 'Countries and areas', 'Region', 'Sub-region',
       'Income Group', 'Total', 'Residence', 'Unnamed: 7',
       'Wealth quintile', 'Unnamed: 9', 'Source', 'Unnamed: 11'],
      dtype=object)

In [30]:
column_names = ['ISO3', 'Countries and areas', 'Region', 'Sub-region',
       'Income Group', 'Total', 'Rural', 'Urban', 'Poorest',
       'Richest', 'Data source', 'Time period']

In [84]:
df1['Countries and areas'].size

87

In [31]:
df1.columns = column_names

In [32]:
df1.drop(0,inplace=True)
df1.head()

,ISO3,Countries and areas,Region,Sub-region,Income Group,Total,Rural,Urban,Poorest,Richest,Data source,Time period
1,DZA,Algeria,MENA,MENA,Upper middle income (UM),0.193468,0.102558,0.249373,0.008224,0.716764,Multiple Indicator Cluster Survey,2018-19
2,AGO,Angola,SSA,ESA,Lower middle income (LM),0.117061,0.010549,0.187054,0,0.579594,Demographic and Health Survey,2015-16
3,ARG,Argentina,LAC,LAC,Upper middle income (UM),0.343599,NaN,NaN,NaN,NaN,Multiple Indicator Cluster Survey,2011-12
4,ARM,Armenia,ECA,EECA,Upper middle income (UM),0.769887,0.667488,0.843461,0.454192,0.978386,Demographic and Health Survey,2015-16
5,BGD,Bangladesh,SA,SA,Lower middle income (LM),0.367109,0.327429,0.51727,0.07771,0.761905,Multiple Indicator Cluster Survey,2019

In [33]:
df1.isnull().sum()

ISO3                    0
Countries and areas     0
Region                  0
Sub-region              0
Income Group            0
Total                   0
Rural                  10
Urban                   7
Poorest                17
Richest                19
Data source             0
Time period             0
dtype: int64

In [34]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87 entries, 1 to 87
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ISO3                 87 non-null     object
 1   Countries and areas  87 non-null     object
 2   Region               87 non-null     object
 3   Sub-region           87 non-null     object
 4   Income Group         87 non-null     object
 5   Total                87 non-null     float64
 6   Rural                77 non-null     object
 7   Urban                80 non-null     object
 8   Poorest              70 non-null     object
 9   Richest              68 non-null     object
 10  Data source          87 non-null     object
 11  Time period          87 non-null     object
dtypes: float64(1), object(11)
memory usage: 8.3+ KB

In [35]:
columns_to_convert = ['Rural', 'Urban', 'Poorest', 'Richest']
df1[columns_to_convert] = df1[columns_to_convert].astype(float)
df1['Time period'] = pd.to_datetime(df1['Time period'], errors='coerce')
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87 entries, 1 to 87
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ISO3                 87 non-null     object
 1   Countries and areas  87 non-null     object
 2   Region               87 non-null     object
 3   Sub-region           87 non-null     object
 4   Income Group         87 non-null     object
 5   Total                87 non-null     float64
 6   Rural                77 non-null     float64
 7   Urban                80 non-null     float64
 8   Poorest              70 non-null     float64
 9   Richest              68 non-null     float64
 10  Data source          87 non-null     object
 11  Time period          62 non-null     datetime64[ns]
dtypes: datetime64[ns](1), float64(5), object(6)
memory usage: 8.3+ KB

In [36]:
df1_with_null = df1[df1.isnull().any(axis=1)]
df1_with_null

,ISO3,Countries and areas,Region,Sub-region,Income Group,Total,Rural,Urban,Poorest,Richest,Data source,Time period
1,DZA,Algeria,MENA,MENA,Upper middle income (UM),0.193468,0.102558,0.249373,0.008224,0.716764,Multiple Indicator Cluster Survey,NaT
2,AGO,Angola,SSA,ESA,Lower middle income (LM),0.117061,0.010549,0.187054,0.000000,0.579594,Demographic and Health Survey,NaT
3,ARG,Argentina,LAC,LAC,Upper middle income (UM),0.343599,NaN,NaN,NaN,NaN,Multiple Indicator Cluster Survey,2011-12-01
4,ARM,Armenia,ECA,EECA,Upper middle income (UM),0.769887,0.667488,0.843461,0.454192,0.978386,Demographic and Health Survey,NaT
7,BEN,Benin,SSA,WCA,Low income (L),0.032559,0.014945,0.061595,0.000000,0.165566,Demographic and Health Survey,NaT
8,BOL,Bolivia (Plurinational State of),LAC,LAC,Lower middle income (LM),0.122172,0.036329,0.165578,NaN,NaN,EDSA,2016-01-01
14,CAF,Central African Republic,SSA,WCA,Low income (L),0.026932,0.005921,0.075102,0.001773,0.152401,Multiple Indicator Cluster Survey,NaT
17,CHN,China,EAP,EAP,Upper middle income (UM),0.210654,0.101190,0.860000,NaN,NaN,CHARLS 2018,2018-01-01
18,COL,Colombia,LAC,LAC,Upper middle income (UM),0.306291,0.037204,0.416274,0.006950,0.981230,Demographic and Health Survey,NaT
22,COD,Democratic Republic of the Congo,SSA,WCA,Low income (L),0.008522,0.004862,0.014275,0.002209,0.019667,Multiple Indicator Cluster Survey,NaT
25,ECU,Ecuador,LAC,LAC,Upper middle income (UM),0.386317,0.194367,0.485600,NaN,NaN,ENSANUT,2018-01-01
26,EGY,Egypt,MENA,MENA,Lower middle income (LM),0.140015,0.091118,0.228780,NaN,NaN,"2015 Household Income, Expenditure and Consump...",2015-01-01
29,GHA,Ghana,SSA,WCA,Lower middle income (LM),0.162794,0.090179,0.260506,0.025410,0.517925,Multiple Indicator Cluster Survey,NaT
30,GTM,Guatemala,LAC,LAC,Upper middle income (UM),0.063223,0.019660,0.137724,0.000000,0.381863,Demographic and Health Survey,NaT
31,GNB,Guinea-Bissau,SSA,WCA,Low income (L),0.025866,0.020210,0.040941,0.001425,0.044118,Multiple Indicator Cluster Survey,NaT
32,HTI,Haiti,LAC,LAC,Low income (L),0.177220,0.095066,0.341185,0.002117,0.663034,Demographic and Health Survey,NaT
33,IND,India,SA,SA,Lower middle income (LM),0.072635,0.041716,0.150852,0.003343,0.340858,Demographic and Health Survey,NaT
37,JOR,Jordan,MENA,MENA,Upper middle income (UM),0.336792,0.313507,0.339674,0.208692,0.680943,Demographic and Health Survey,NaT
38,KEN,Kenya,SSA,ESA,Lower middle income (LM),0.288000,NaN,0.228000,NaN,NaN,STEP Skills Measurement Household Survey 2013 ...,2013-01-01
39,KIR,Kiribati,EAP,EAP,Lower middle income (LM),0.493694,0.316332,0.676349,0.160145,0.832468,Multiple Indicator Cluster Survey,NaT
44,MDV,Maldives,SA,SA,Upper middle income (UM),0.685177,0.681055,0.692877,0.483988,0.922501,Demographic and Health Survey,NaT
47,MEX,Mexico,LAC,LAC,Upper middle income (UM),0.362948,0.094228,0.475067,NaN,NaN,ENSANUT,2018-01-01
49,MNE,Montenegro,ECA,EECA,Upper middle income (UM),0.823759,0.733435,0.866244,0.523299,0.998623,Multiple Indicator Cluster Survey,NaT
50,MAR,Morocco,MENA,MENA,Lower middle income (LM),0.165085,0.116364,0.218254,NaN,NaN,Morocco Household and Youth Survey 2010,2010-01-01
53,NIC,Nicaragua,LAC,LAC,Lower middle income (LM),0.032391,NaN,NaN,NaN,NaN,Nicaragua National Demographic and Health Surv...,2011-12-01
54,NER,Niger,SSA,WCA,Low income (L),0.024073,NaN,NaN,NaN,NaN,National Survey on Household Living Conditions...,NaT
55,NGA,Nigeria,SSA,WCA,Lower middle income (LM),0.024672,NaN,NaN,NaN,NaN,"General Household Survey, Panel 2018-2019, Wave 4",NaT
58,PER,Peru,LAC,LAC,Upper middle income (UM),0.261444,0.012762,0.336302,NaN,NaN,ENDES,2019-01-01
60,LCA,Saint Lucia,LAC,LAC,Upper middle income (UM),0.475327,0.508546,0.325677,0.127923,NaN,Multiple Indicator Cluster Survey,2012-01-01
65,SOM,Somalia,SSA,ESA,Low income (L),0.136546,NaN,NaN,NaN,NaN,Somalia High Frequency Survey,NaT
66,ZAF,South Africa,SSA,ESA,Upper middle income (UM),0.186457,NaN,NaN,NaN,NaN,South Africa Living Conditions Survey 2014-15,NaT
72,THA,Thailand,EAP,EAP,Upper middle income (UM),0.684166,0.654618,0.730889,0.447167,0.943799,Multiple Indicator Cluster Survey,NaT
73,MKD,North Macedonia,ECA,EECA,Upper middle income (UM),0.926979,0.909507,0.937415,0.703773,1.000000,Multiple Indicator Cluster Survey,NaT
81,UKR,Ukraine,ECA,EECA,Lower middle income (LM),0.614000,NaN,0.614000,NaN,NaN,STEP Skills Measurement Household Survey 2013 ...,2013-01-01
82,GBR,United Kingdom,ECA,WE,High income (H),0.993000,NaN,NaN,NaN,NaN,UK Data Archive Information for the Study 8298...,2016-01-01
83,URY,Uruguay,LAC,LAC,High income (H),0.513354,0.357393,0.529542,0.170832,NaN,Multiple Indicator Cluster Survey,NaT
85,VNM,Viet Nam,EAP,EAP,Lower middle income (LM),0.628000,NaN,0.628000,NaN,NaN,STEP Skills Measurement Household Survey 2012 ...,2012-01-01
86,ZMB,Zambia,SSA,ESA,Lower middle income (LM),0.049235,0.014913,0.116373,0.000000,0.275340,Demographic and Health Survey,NaT
87,ZWE,Zimbabwe,SSA,ESA,Lower middle income (LM),0.277342,0.188131,0.508152,0.052741,0.645961,Multiple Indicator Cluster Survey,NaT

In [37]:
df1_with_null.size

468

In [38]:
# Impute missing values with the mean of each column
#This is a simple method and can work well if the missing values are missing completely at random.
df1['Rural'].fillna(df1['Rural'].mean(), inplace=True)
df1['Urban'].fillna(df1['Urban'].mean(), inplace=True)
df1['Poorest'].fillna(df1['Poorest'].mean(), inplace=True)
df1['Richest'].fillna(df1['Richest'].mean(), inplace=True)
df1.head()

,ISO3,Countries and areas,Region,Sub-region,Income Group,Total,Rural,Urban,Poorest,Richest,Data source,Time period
1,DZA,Algeria,MENA,MENA,Upper middle income (UM),0.193468,0.102558,0.249373,0.008224,0.716764,Multiple Indicator Cluster Survey,NaT
2,AGO,Angola,SSA,ESA,Lower middle income (LM),0.117061,0.010549,0.187054,0.000000,0.579594,Demographic and Health Survey,NaT
3,ARG,Argentina,LAC,LAC,Upper middle income (UM),0.343599,0.255691,0.417076,0.178554,0.608474,Multiple Indicator Cluster Survey,2011-12-01
4,ARM,Armenia,ECA,EECA,Upper middle income (UM),0.769887,0.667488,0.843461,0.454192,0.978386,Demographic and Health Survey,NaT
5,BGD,Bangladesh,SA,SA,Lower middle income (LM),0.367109,0.327429,0.517270,0.077710,0.761905,Multiple Indicator Cluster Survey,2019-01-01

In [39]:
df1.isnull().sum()

ISO3                    0
Countries and areas     0
Region                  0
Sub-region              0
Income Group            0
Total                   0
Rural                   0
Urban                   0
Poorest                 0
Richest                 0
Data source             0
Time period            25
dtype: int64

In [40]:
df1.duplicated().sum()

0

In [41]:
Pre_primary = df1.copy()

In [42]:
primary = all_sheets['Primary']

In [43]:
df2= primary.copy()
df2.head()

,ISO3,Countries and areas,Region,Sub-region,Income Group,Total,Residence,Unnamed: 7,Wealth quintile,Unnamed: 9,Source,Unnamed: 11
0,NaN,NaN,NaN,UNICEF Sub-region 1,NaN,NaN,Rural,Urban,Poorest,Richest,Data source,Time period
1,AGO,Angola,SSA,ESA,Lower middle income (LM),0.150477,0.020146,0.223445,0,0.614316,Demographic and Health Survey,2015-16
2,ARG,Argentina,LAC,LAC,Upper middle income (UM),0.386014,NaN,NaN,NaN,NaN,Multiple Indicator Cluster Survey,2011-12
3,ARM,Armenia,ECA,EECA,Upper middle income (UM),0.809937,0.691902,0.894822,0.455445,0.991781,Demographic and Health Survey,2015-16
4,BGD,Bangladesh,SA,SA,Lower middle income (LM),0.338630,0.297806,0.494635,0.073097,0.749552,Multiple Indicator Cluster Survey,2019

In [44]:
df2.columns.values
column_names = ['ISO3', 'Countries and areas', 'Region', 'Sub-region',
       'Income Group', 'Total', 'Rural', 'Urban', 'Poorest',
       'Richest', 'Data source', 'Time period']
df2.columns = column_names

In [85]:
df2['Countries and areas'].size

87

In [45]:
df2.drop(0,inplace=True)
df2.head()

,ISO3,Countries and areas,Region,Sub-region,Income Group,Total,Rural,Urban,Poorest,Richest,Data source,Time period
1,AGO,Angola,SSA,ESA,Lower middle income (LM),0.150477,0.020146,0.223445,0,0.614316,Demographic and Health Survey,2015-16
2,ARG,Argentina,LAC,LAC,Upper middle income (UM),0.386014,NaN,NaN,NaN,NaN,Multiple Indicator Cluster Survey,2011-12
3,ARM,Armenia,ECA,EECA,Upper middle income (UM),0.809937,0.691902,0.894822,0.455445,0.991781,Demographic and Health Survey,2015-16
4,BGD,Bangladesh,SA,SA,Lower middle income (LM),0.338630,0.297806,0.494635,0.073097,0.749552,Multiple Indicator Cluster Survey,2019
5,BRB,Barbados,LAC,LAC,High income (H),0.634245,0.543809,0.681656,0.094052,0.968962,Multiple Indicator Cluster Survey,2012

In [46]:
df2.isnull().sum()

ISO3                    0
Countries and areas     0
Region                  0
Sub-region              0
Income Group            0
Total                   0
Rural                  11
Urban                   8
Poorest                18
Richest                21
Data source             0
Time period             0
dtype: int64

In [47]:
df2['Time period'] = pd.to_datetime(df2['Time period'], errors='coerce')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87 entries, 1 to 87
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ISO3                 87 non-null     object
 1   Countries and areas  87 non-null     object
 2   Region               87 non-null     object
 3   Sub-region           87 non-null     object
 4   Income Group         87 non-null     object
 5   Total                87 non-null     float64
 6   Rural                87 non-null     float64
 7   Urban                87 non-null     float64
 8   Poorest              87 non-null     float64
 9   Richest              87 non-null     float64
 10  Data source          87 non-null     object
 11  Time period          62 non-null     datetime64[ns]
dtypes: datetime64[ns](1), float64(5), object(6)
memory usage: 8.3+ KB

In [48]:
df2.size

1044

In [49]:
df2_with_null = df2[df2.isnull().any(axis=1)]
df2_with_null

,ISO3,Countries and areas,Region,Sub-region,Income Group,Total,Rural,Urban,Poorest,Richest,Data source,Time period
1,AGO,Angola,SSA,ESA,Lower middle income (LM),0.150477,0.020146,0.223445,0,0.614316,Demographic and Health Survey,NaT
2,ARG,Argentina,LAC,LAC,Upper middle income (UM),0.386014,NaN,NaN,NaN,NaN,Multiple Indicator Cluster Survey,2011-12-01
3,ARM,Armenia,ECA,EECA,Upper middle income (UM),0.809937,0.691902,0.894822,0.455445,0.991781,Demographic and Health Survey,NaT
6,BEN,Benin,SSA,WCA,Low income (L),0.029618,0.012956,0.056852,0,0.142961,Demographic and Health Survey,NaT
7,BOL,Bolivia (Plurinational State of),LAC,LAC,Lower middle income (LM),0.108645,0.035408,0.150369,NaN,NaN,EDSA,2016-01-01
13,CAF,Central African Republic,SSA,WCA,Low income (L),0.032694,0.005618,0.084429,0.001403,0.145817,Multiple Indicator Cluster Survey,NaT
16,CHN,China,EAP,EAP,Upper middle income (UM),0.617634,0.527299,0.91,NaN,NaN,CHARLS 2018,2018-01-01
17,COL,Colombia,LAC,LAC,Upper middle income (UM),0.331046,0.043455,0.452434,0.011927,0.979763,Demographic and Health Survey,NaT
21,COD,Democratic Republic of the Congo,SSA,WCA,Low income (L),0.010714,0.003951,0.020022,0.003684,0.027834,Multiple Indicator Cluster Survey,NaT
24,ECU,Ecuador,LAC,LAC,Upper middle income (UM),0.395805,0.190395,0.504353,NaN,NaN,ENSANUT,2018-01-01
25,EGY,Egypt,MENA,MENA,Lower middle income (LM),0.161088,0.088074,0.273685,NaN,NaN,"2015 Household Income, Expenditure and Consump...",2015-01-01
28,GHA,Ghana,SSA,WCA,Lower middle income (LM),0.163219,0.10026,0.249141,0.022552,0.516402,Multiple Indicator Cluster Survey,NaT
29,GTM,Guatemala,LAC,LAC,Upper middle income (UM),0.076944,0.024396,0.164827,0,0.42576,Demographic and Health Survey,NaT
30,GNB,Guinea-Bissau,SSA,WCA,Low income (L),0.020444,0.012645,0.035648,0.002284,0.048082,Multiple Indicator Cluster Survey,NaT
31,HTI,Haiti,LAC,LAC,Low income (L),0.178732,0.096042,0.330694,0.002699,0.603906,Demographic and Health Survey,NaT
32,IND,India,SA,SA,Lower middle income (LM),0.069853,0.039129,0.144889,0.002694,0.328601,Demographic and Health Survey,NaT
35,ITA,Italy,ECA,WE,High income (H),0.631171,NaN,NaN,NaN,NaN,Multiscopo sulle famiglie: aspetti della vita ...,2018-01-01
37,JOR,Jordan,MENA,MENA,Upper middle income (UM),0.360859,0.328009,0.364941,0.234862,0.715978,Demographic and Health Survey,NaT
38,KEN,Kenya,SSA,ESA,Lower middle income (LM),0.298000,NaN,0.215,NaN,NaN,STEP Skills Measurement Household Survey 2013 ...,2013-01-01
39,KIR,Kiribati,EAP,EAP,Lower middle income (LM),0.495466,0.316166,0.662839,0.122829,0.86498,Multiple Indicator Cluster Survey,NaT
44,MDV,Maldives,SA,SA,Upper middle income (UM),0.699199,0.681548,0.735005,0.486312,0.93799,Demographic and Health Survey,NaT
47,MEX,Mexico,LAC,LAC,Upper middle income (UM),0.369098,0.096119,0.471973,NaN,NaN,ENSANUT,2018-01-01
49,MNE,Montenegro,ECA,EECA,Upper middle income (UM),0.796425,0.713149,0.836726,0.426545,0.999201,Multiple Indicator Cluster Survey,NaT
50,MAR,Morocco,MENA,MENA,Lower middle income (LM),0.159693,0.112676,0.20398,NaN,NaN,Morocco Household and Youth Survey 2010,2010-01-01
53,NIC,Nicaragua,LAC,LAC,Lower middle income (LM),0.036631,NaN,NaN,NaN,NaN,Nicaragua National Demographic and Health Surv...,2011-12-01
54,NER,Niger,SSA,WCA,Low income (L),0.024651,NaN,NaN,NaN,NaN,National Survey on Household Living Conditions...,NaT
55,NGA,Nigeria,SSA,WCA,Lower middle income (LM),0.034187,NaN,NaN,NaN,NaN,"General Household Survey, Panel 2018-2019, Wave 4",NaT
58,PER,Peru,LAC,LAC,Upper middle income (UM),0.249277,0.013616,0.33186,NaN,NaN,ENDES,2019-01-01
59,RUS,Russian Federation,ECA,EECA,Upper middle income (UM),0.876000,0.824,0.902,0.876,NaN,"Russia Longitudinal Monitoring Survey, 2018",2018-01-01
60,LCA,Saint Lucia,LAC,LAC,Upper middle income (UM),0.444136,0.437313,0.468727,0.116829,NaN,Multiple Indicator Cluster Survey,2012-01-01
65,SOM,Somalia,SSA,ESA,Low income (L),0.123589,NaN,NaN,NaN,NaN,Somalia High Frequency Survey,NaT
66,ZAF,South Africa,SSA,ESA,Upper middle income (UM),0.177626,NaN,NaN,NaN,NaN,South Africa Living Conditions Survey 2014-15,NaT
72,THA,Thailand,EAP,EAP,Upper middle income (UM),0.683190,0.645333,0.746955,0.417035,0.946541,Multiple Indicator Cluster Survey,NaT
73,MKD,North Macedonia,ECA,EECA,Upper middle income (UM),0.912442,0.877715,0.934829,0.666424,1,Multiple Indicator Cluster Survey,NaT
81,UKR,Ukraine,ECA,EECA,Lower middle income (LM),0.732000,NaN,0.732,NaN,NaN,STEP Skills Measurement Household Survey 2013 ...,2013-01-01
82,GBR,United Kingdom,ECA,WE,High income (H),0.993000,NaN,NaN,NaN,NaN,UK Data Archive Information for the Study 8298...,2016-01-01
83,URY,Uruguay,LAC,LAC,High income (H),0.630690,0.53316,0.640821,0.374324,NaN,Multiple Indicator Cluster Survey,NaT
85,VNM,Viet Nam,EAP,EAP,Lower middle income (LM),0.582000,NaN,0.582,NaN,NaN,STEP Skills Measurement Household Survey 2012 ...,2012-01-01
86,ZMB,Zambia,SSA,ESA,Lower middle income (LM),0.056012,0.017691,0.124096,0,0.276955,Demographic and Health Survey,NaT
87,ZWE,Zimbabwe,SSA,ESA,Lower middle income (LM),0.245413,0.163654,0.475181,0.040099,0.596314,Multiple Indicator Cluster Survey,NaT

In [50]:
df2_with_null.size

480

In [51]:
# Impute missing values with the mean of each column
#This is a simple method and can work well if the missing values are missing completely at random.
df2['Rural'].fillna(df2['Rural'].mean(), inplace=True)
df2['Urban'].fillna(df2['Urban'].mean(), inplace=True)
df2['Poorest'].fillna(df2['Poorest'].mean(), inplace=True)
df2['Richest'].fillna(df2['Richest'].mean(), inplace=True)
df2.head()

,ISO3,Countries and areas,Region,Sub-region,Income Group,Total,Rural,Urban,Poorest,Richest,Data source,Time period
1,AGO,Angola,SSA,ESA,Lower middle income (LM),0.150477,0.020146,0.223445,0.000000,0.614316,Demographic and Health Survey,NaT
2,ARG,Argentina,LAC,LAC,Upper middle income (UM),0.386014,0.264824,0.426081,0.178955,0.606783,Multiple Indicator Cluster Survey,2011-12-01
3,ARM,Armenia,ECA,EECA,Upper middle income (UM),0.809937,0.691902,0.894822,0.455445,0.991781,Demographic and Health Survey,NaT
4,BGD,Bangladesh,SA,SA,Lower middle income (LM),0.338630,0.297806,0.494635,0.073097,0.749552,Multiple Indicator Cluster Survey,2019-01-01
5,BRB,Barbados,LAC,LAC,High income (H),0.634245,0.543809,0.681656,0.094052,0.968962,Multiple Indicator Cluster Survey,2012-01-01

In [52]:
df2.isnull().sum()

ISO3                    0
Countries and areas     0
Region                  0
Sub-region              0
Income Group            0
Total                   0
Rural                   0
Urban                   0
Poorest                 0
Richest                 0
Data source             0
Time period            24
dtype: int64

In [53]:
df2.duplicated().sum()

0

In [54]:
Primary = df2.copy()

In [55]:
lower_secondary = all_sheets['Lower Secondary']
df3= lower_secondary.copy()
df3.head()

,ISO3,Countries and areas,Region,Sub-region,Income Group,Total,Residence,Unnamed: 7,Wealth quintile,Unnamed: 9,Source,Unnamed: 11
0,NaN,NaN,NaN,UNICEF Sub-region 1,NaN,NaN,Rural,Urban,Poorest,Richest,Data source,Time period
1,DZA,Algeria,MENA,MENA,Upper middle income (UM),0.247156,0.095301,0.330611,0.006273,0.78244,Multiple Indicator Cluster Survey,2018-19
2,AGO,Angola,SSA,ESA,Lower middle income (LM),0.194348,0.019207,0.272381,0,0.618907,Demographic and Health Survey,2015-16
3,ARG,Argentina,LAC,LAC,Upper middle income (UM),0.425817,NaN,NaN,NaN,NaN,Multiple Indicator Cluster Survey,2011-12
4,ARM,Armenia,ECA,EECA,Upper middle income (UM),0.811646,0.707318,0.886361,0.440729,0.994673,Demographic and Health Survey,2015-16

In [56]:
df3.columns.values
column_names = ['ISO3', 'Countries and areas', 'Region', 'Sub-region',
       'Income Group', 'Total', 'Rural', 'Urban', 'Poorest',
       'Richest', 'Data source', 'Time period']
df3.columns = column_names

In [86]:
df3['Countries and areas'].size

87

In [57]:
df3.drop(0,inplace=True)
df3.head()

,ISO3,Countries and areas,Region,Sub-region,Income Group,Total,Rural,Urban,Poorest,Richest,Data source,Time period
1,DZA,Algeria,MENA,MENA,Upper middle income (UM),0.247156,0.095301,0.330611,0.006273,0.78244,Multiple Indicator Cluster Survey,2018-19
2,AGO,Angola,SSA,ESA,Lower middle income (LM),0.194348,0.019207,0.272381,0,0.618907,Demographic and Health Survey,2015-16
3,ARG,Argentina,LAC,LAC,Upper middle income (UM),0.425817,NaN,NaN,NaN,NaN,Multiple Indicator Cluster Survey,2011-12
4,ARM,Armenia,ECA,EECA,Upper middle income (UM),0.811646,0.707318,0.886361,0.440729,0.994673,Demographic and Health Survey,2015-16
5,BGD,Bangladesh,SA,SA,Lower middle income (LM),0.341440,0.307041,0.482401,0.07948,0.733826,Multiple Indicator Cluster Survey,2019

In [58]:
df3.isnull().sum()

ISO3                    0
Countries and areas     0
Region                  0
Sub-region              0
Income Group            0
Total                   0
Rural                  10
Urban                   7
Poorest                17
Richest                19
Data source             0
Time period             0
dtype: int64

In [59]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87 entries, 1 to 87
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ISO3                 87 non-null     object
 1   Countries and areas  87 non-null     object
 2   Region               87 non-null     object
 3   Sub-region           87 non-null     object
 4   Income Group         87 non-null     object
 5   Total                87 non-null     float64
 6   Rural                77 non-null     object
 7   Urban                80 non-null     object
 8   Poorest              70 non-null     object
 9   Richest              68 non-null     object
 10  Data source          87 non-null     object
 11  Time period          87 non-null     object
dtypes: float64(1), object(11)
memory usage: 8.3+ KB

In [60]:
columns_to_convert = ['Rural', 'Urban', 'Poorest', 'Richest']
df3[columns_to_convert] = df3[columns_to_convert].astype(float)
df3['Time period'] = pd.to_datetime(df3['Time period'], errors='coerce')
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87 entries, 1 to 87
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ISO3                 87 non-null     object
 1   Countries and areas  87 non-null     object
 2   Region               87 non-null     object
 3   Sub-region           87 non-null     object
 4   Income Group         87 non-null     object
 5   Total                87 non-null     float64
 6   Rural                77 non-null     float64
 7   Urban                80 non-null     float64
 8   Poorest              70 non-null     float64
 9   Richest              68 non-null     float64
 10  Data source          87 non-null     object
 11  Time period          62 non-null     datetime64[ns]
dtypes: datetime64[ns](1), float64(5), object(6)
memory usage: 8.3+ KB

In [61]:
df3_with_null = df3[df3.isnull().any(axis=1)]
df3_with_null

,ISO3,Countries and areas,Region,Sub-region,Income Group,Total,Rural,Urban,Poorest,Richest,Data source,Time period
1,DZA,Algeria,MENA,MENA,Upper middle income (UM),0.247156,0.095301,0.330611,0.006273,0.782440,Multiple Indicator Cluster Survey,NaT
2,AGO,Angola,SSA,ESA,Lower middle income (LM),0.194348,0.019207,0.272381,0.000000,0.618907,Demographic and Health Survey,NaT
3,ARG,Argentina,LAC,LAC,Upper middle income (UM),0.425817,NaN,NaN,NaN,NaN,Multiple Indicator Cluster Survey,2011-12-01
4,ARM,Armenia,ECA,EECA,Upper middle income (UM),0.811646,0.707318,0.886361,0.440729,0.994673,Demographic and Health Survey,NaT
7,BEN,Benin,SSA,WCA,Low income (L),0.039735,0.016116,0.074011,0.000000,0.160840,Demographic and Health Survey,NaT
8,BOL,Bolivia (Plurinational State of),LAC,LAC,Lower middle income (LM),0.117719,0.029492,0.170403,NaN,NaN,EDSA,2016-01-01
14,CAF,Central African Republic,SSA,WCA,Low income (L),0.052576,0.010170,0.114209,0.003206,0.183693,Multiple Indicator Cluster Survey,NaT
17,CHN,China,EAP,EAP,Upper middle income (UM),0.642803,0.507350,0.907505,NaN,NaN,CHARLS 2018,2018-01-01
18,COL,Colombia,LAC,LAC,Upper middle income (UM),0.386047,0.055663,0.510862,0.013027,0.986418,Demographic and Health Survey,NaT
22,COD,Democratic Republic of the Congo,SSA,WCA,Low income (L),0.010233,0.003638,0.017992,0.001622,0.024031,Multiple Indicator Cluster Survey,NaT
25,ECU,Ecuador,LAC,LAC,Upper middle income (UM),0.427374,0.193675,0.552383,NaN,NaN,ENSANUT,2018-01-01
26,EGY,Egypt,MENA,MENA,Lower middle income (LM),0.176976,0.085296,0.316491,NaN,NaN,"2015 Household Income, Expenditure and Consump...",2015-01-01
29,GHA,Ghana,SSA,WCA,Lower middle income (LM),0.164556,0.102924,0.245147,0.032508,0.486970,Multiple Indicator Cluster Survey,NaT
30,GTM,Guatemala,LAC,LAC,Upper middle income (UM),0.099016,0.034130,0.202127,0.000000,0.491747,Demographic and Health Survey,NaT
31,GNB,Guinea-Bissau,SSA,WCA,Low income (L),0.020285,0.012831,0.032599,0.002080,0.049026,Multiple Indicator Cluster Survey,NaT
32,HTI,Haiti,LAC,LAC,Low income (L),0.224083,0.127001,0.380990,0.002506,0.709026,Demographic and Health Survey,NaT
33,IND,India,SA,SA,Lower middle income (LM),0.081630,0.047672,0.160824,0.004203,0.352784,Demographic and Health Survey,NaT
37,JOR,Jordan,MENA,MENA,Upper middle income (UM),0.409802,0.380908,0.413503,0.232981,0.725491,Demographic and Health Survey,NaT
38,KEN,Kenya,SSA,ESA,Lower middle income (LM),0.327000,NaN,0.240000,NaN,NaN,STEP Skills Measurement Household Survey 2013 ...,2013-01-01
39,KIR,Kiribati,EAP,EAP,Lower middle income (LM),0.500296,0.335108,0.684211,0.138222,0.885372,Multiple Indicator Cluster Survey,NaT
44,MDV,Maldives,SA,SA,Upper middle income (UM),0.683231,0.693931,0.664483,0.523776,0.871935,Demographic and Health Survey,NaT
47,MEX,Mexico,LAC,LAC,Upper middle income (UM),0.433750,0.120019,0.544760,NaN,NaN,ENSANUT,2018-01-01
49,MNE,Montenegro,ECA,EECA,Upper middle income (UM),0.837416,0.732220,0.890173,0.548543,0.979995,Multiple Indicator Cluster Survey,NaT
50,MAR,Morocco,MENA,MENA,Lower middle income (LM),0.186603,0.120743,0.256579,NaN,NaN,Morocco Household and Youth Survey 2010,2010-01-01
53,NIC,Nicaragua,LAC,LAC,Lower middle income (LM),0.039133,NaN,NaN,NaN,NaN,Nicaragua National Demographic and Health Surv...,2011-12-01
54,NER,Niger,SSA,WCA,Low income (L),0.039905,NaN,NaN,NaN,NaN,National Survey on Household Living Conditions...,NaT
55,NGA,Nigeria,SSA,WCA,Lower middle income (LM),0.032516,NaN,NaN,NaN,NaN,"General Household Survey, Panel 2018-2019, Wave 4",NaT
58,PER,Peru,LAC,LAC,Upper middle income (UM),0.252537,0.014579,0.341853,NaN,NaN,ENDES,2019-01-01
60,LCA,Saint Lucia,LAC,LAC,Upper middle income (UM),0.502735,0.515043,0.437962,0.153932,NaN,Multiple Indicator Cluster Survey,2012-01-01
65,SOM,Somalia,SSA,ESA,Low income (L),0.128430,NaN,NaN,NaN,NaN,Somalia High Frequency Survey,NaT
66,ZAF,South Africa,SSA,ESA,Upper middle income (UM),0.202331,NaN,NaN,NaN,NaN,South Africa Living Conditions Survey 2014-15,NaT
72,THA,Thailand,EAP,EAP,Upper middle income (UM),0.753185,0.704167,0.820744,0.510067,0.975821,Multiple Indicator Cluster Survey,NaT
73,MKD,North Macedonia,ECA,EECA,Upper middle income (UM),0.915910,0.910176,0.919684,0.683086,1.000000,Multiple Indicator Cluster Survey,NaT
81,UKR,Ukraine,ECA,EECA,Lower middle income (LM),0.659000,NaN,0.659000,NaN,NaN,STEP Skills Measurement Household Survey 2013 ...,2013-01-01
82,GBR,United Kingdom,ECA,WE,High income (H),0.993000,NaN,NaN,NaN,NaN,UK Data Archive Information for the Study 8298...,2016-01-01
83,URY,Uruguay,LAC,LAC,High income (H),0.656407,0.461362,0.677439,0.275581,NaN,Multiple Indicator Cluster Survey,NaT
85,VNM,Viet Nam,EAP,EAP,Lower middle income (LM),0.621000,NaN,0.621000,NaN,NaN,STEP Skills Measurement Household Survey 2012 ...,2012-01-01
86,ZMB,Zambia,SSA,ESA,Lower middle income (LM),0.075176,0.019451,0.163240,0.000000,0.309410,Demographic and Health Survey,NaT
87,ZWE,Zimbabwe,SSA,ESA,Lower middle income (LM),0.236901,0.166758,0.496238,0.043447,0.646333,Multiple Indicator Cluster Survey,NaT

In [62]:
df3.size

1044

In [63]:
df3_with_null.size

468

In [64]:
# Impute missing values with the mean of each column
#This is a simple method and can work well if the missing values are missing completely at random.
df3['Rural'].fillna(df3['Rural'].mean(), inplace=True)
df3['Urban'].fillna(df3['Urban'].mean(), inplace=True)
df3['Poorest'].fillna(df3['Poorest'].mean(), inplace=True)
df3['Richest'].fillna(df3['Richest'].mean(), inplace=True)
df3.head()

,ISO3,Countries and areas,Region,Sub-region,Income Group,Total,Rural,Urban,Poorest,Richest,Data source,Time period
1,DZA,Algeria,MENA,MENA,Upper middle income (UM),0.247156,0.095301,0.330611,0.006273,0.782440,Multiple Indicator Cluster Survey,NaT
2,AGO,Angola,SSA,ESA,Lower middle income (LM),0.194348,0.019207,0.272381,0.000000,0.618907,Demographic and Health Survey,NaT
3,ARG,Argentina,LAC,LAC,Upper middle income (UM),0.425817,0.272736,0.447296,0.188189,0.626891,Multiple Indicator Cluster Survey,2011-12-01
4,ARM,Armenia,ECA,EECA,Upper middle income (UM),0.811646,0.707318,0.886361,0.440729,0.994673,Demographic and Health Survey,NaT
5,BGD,Bangladesh,SA,SA,Lower middle income (LM),0.341440,0.307041,0.482401,0.079480,0.733826,Multiple Indicator Cluster Survey,2019-01-01

In [65]:
df3.duplicated().sum()

0

In [66]:
Lower_Secondary = df3.copy()

In [67]:
upper_secondary = all_sheets['Upper Secondary']
df4= upper_secondary.copy()
df4.head()

,ISO3,Countries and areas,Region,Sub-region,Income Group,Total,Residence,Unnamed: 7,Wealth quintile,Unnamed: 9,Source,Unnamed: 11
0,NaN,NaN,NaN,UNICEF Sub-region 1,NaN,NaN,Rural,Urban,Poorest,Richest,Data source,Time period
1,AGO,Angola,SSA,ESA,Lower middle income (LM),0.240308,0.018753,0.326347,0,0.686112,Demographic and Health Survey,2015-16
2,ARG,Argentina,LAC,LAC,Upper middle income (UM),0.447193,NaN,NaN,NaN,NaN,Multiple Indicator Cluster Survey,2011-12
3,ARM,Armenia,ECA,EECA,Upper middle income (UM),0.848591,0.778453,0.909979,0.540645,1,Demographic and Health Survey,2015-16
4,BGD,Bangladesh,SA,SA,Lower middle income (LM),0.419667,0.381093,0.567928,0.12542,0.78783,Multiple Indicator Cluster Survey,2019

In [90]:
df4['Countries and areas'].unique()

array(['Angola', 'Argentina', 'Armenia', 'Bangladesh', 'Barbados',
       'Benin', 'Bosnia and Herzegovina', 'Brazil', 'Bulgaria',
       'Burkina Faso', 'Cameroon', 'Central African Republic', 'Chad',
       'Chile', 'China', 'Colombia', 'Costa Rica', "Côte d'Ivoire",
       'Cuba', 'Democratic Republic of the Congo', 'Djibouti',
       'Dominican Republic', 'Gambia', 'Georgia', 'Ghana', 'Guatemala',
       'Guinea-Bissau', 'Haiti', 'India', 'Indonesia', 'Iraq', 'Italy',
       'Japan', 'Jordan', 'Kenya', 'Kiribati', 'Kyrgyzstan',
       "Lao People's Democratic Republic", 'Lesotho', 'Madagascar',
       'Maldives', 'Mali', 'Mauritania', 'Mongolia', 'Montenegro',
       'Morocco', 'Namibia', 'Nepal', 'Nicaragua', 'Niger', 'Nigeria',
       'Pakistan', 'Panama', 'Russian Federation', 'Saint Lucia',
       'Sao Tome and Principe', 'Senegal', 'Serbia', 'Sierra Leone',
       'Somalia', 'South Africa', 'South Sudan', 'Sri Lanka', 'Sudan',
       'Suriname', 'Tajikistan', 'Thailand', 'North Macedonia', 'Togo',
       'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey',
       'Turkmenistan', 'Uganda', 'Ukraine', 'United Kingdom', 'Uruguay',
       'Uzbekistan', 'Viet Nam', 'Zambia', 'Zimbabwe'], dtype=object)

In [68]:
df4.columns.values
column_names = ['ISO3', 'Countries and areas', 'Region', 'Sub-region',
       'Income Group', 'Total', 'Rural', 'Urban', 'Poorest',
       'Richest', 'Data source', 'Time period']
df4.columns = column_names
df4.drop(0,inplace=True)
df4.head()

,ISO3,Countries and areas,Region,Sub-region,Income Group,Total,Rural,Urban,Poorest,Richest,Data source,Time period
1,AGO,Angola,SSA,ESA,Lower middle income (LM),0.240308,0.018753,0.326347,0,0.686112,Demographic and Health Survey,2015-16
2,ARG,Argentina,LAC,LAC,Upper middle income (UM),0.447193,NaN,NaN,NaN,NaN,Multiple Indicator Cluster Survey,2011-12
3,ARM,Armenia,ECA,EECA,Upper middle income (UM),0.848591,0.778453,0.909979,0.540645,1,Demographic and Health Survey,2015-16
4,BGD,Bangladesh,SA,SA,Lower middle income (LM),0.419667,0.381093,0.567928,0.12542,0.78783,Multiple Indicator Cluster Survey,2019
5,BRB,Barbados,LAC,LAC,High income (H),0.756602,0.759691,0.755032,0.038847,1,Multiple Indicator Cluster Survey,2012

In [69]:
df4.isnull().sum()

ISO3                    0
Countries and areas     0
Region                  0
Sub-region              0
Income Group            0
Total                   0
Rural                  11
Urban                   8
Poorest                13
Richest                14
Data source             0
Time period             0
dtype: int64

In [70]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 82 entries, 1 to 82
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ISO3                 82 non-null     object
 1   Countries and areas  82 non-null     object
 2   Region               82 non-null     object
 3   Sub-region           82 non-null     object
 4   Income Group         82 non-null     object
 5   Total                82 non-null     float64
 6   Rural                71 non-null     object
 7   Urban                74 non-null     object
 8   Poorest              69 non-null     object
 9   Richest              68 non-null     object
 10  Data source          82 non-null     object
 11  Time period          82 non-null     object
dtypes: float64(1), object(11)
memory usage: 7.8+ KB

In [71]:
columns_to_convert = ['Rural', 'Urban', 'Poorest', 'Richest']
df4[columns_to_convert] = df4[columns_to_convert].astype(float)
df4['Time period'] = pd.to_datetime(df4['Time period'], errors='coerce')
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 82 entries, 1 to 82
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ISO3                 82 non-null     object
 1   Countries and areas  82 non-null     object
 2   Region               82 non-null     object
 3   Sub-region           82 non-null     object
 4   Income Group         82 non-null     object
 5   Total                82 non-null     float64
 6   Rural                71 non-null     float64
 7   Urban                74 non-null     float64
 8   Poorest              69 non-null     float64
 9   Richest              68 non-null     float64
 10  Data source          82 non-null     object
 11  Time period          58 non-null     datetime64[ns]
dtypes: datetime64[ns](1), float64(5), object(6)
memory usage: 7.8+ KB

In [72]:
df4_with_null = df4[df4.isnull().any(axis=1)]
df4_with_null

,ISO3,Countries and areas,Region,Sub-region,Income Group,Total,Rural,Urban,Poorest,Richest,Data source,Time period
1,AGO,Angola,SSA,ESA,Lower middle income (LM),0.240308,0.018753,0.326347,0.000000,0.686112,Demographic and Health Survey,NaT
2,ARG,Argentina,LAC,LAC,Upper middle income (UM),0.447193,NaN,NaN,NaN,NaN,Multiple Indicator Cluster Survey,2011-12-01
3,ARM,Armenia,ECA,EECA,Upper middle income (UM),0.848591,0.778453,0.909979,0.540645,1.000000,Demographic and Health Survey,NaT
6,BEN,Benin,SSA,WCA,Low income (L),0.053919,0.019118,0.102209,0.000000,0.211179,Demographic and Health Survey,NaT
12,CAF,Central African Republic,SSA,WCA,Low income (L),0.061411,0.009827,0.122253,0.004068,0.188430,Multiple Indicator Cluster Survey,NaT
15,CHN,China,EAP,EAP,Upper middle income (UM),0.759602,0.582134,0.912824,NaN,0.918569,CHARLS 2018,2018-01-01
16,COL,Colombia,LAC,LAC,Upper middle income (UM),0.426790,0.068258,0.538213,0.018499,0.992394,Demographic and Health Survey,NaT
20,COD,Democratic Republic of the Congo,SSA,WCA,Low income (L),0.014336,0.003650,0.026026,0.004325,0.029567,Multiple Indicator Cluster Survey,NaT
25,GHA,Ghana,SSA,WCA,Lower middle income (LM),0.196697,0.126675,0.283610,0.032810,0.522642,Multiple Indicator Cluster Survey,NaT
26,GTM,Guatemala,LAC,LAC,Upper middle income (UM),0.122782,0.036262,0.235811,0.000000,0.520196,Demographic and Health Survey,NaT
27,GNB,Guinea-Bissau,SSA,WCA,Low income (L),0.027681,0.019382,0.039085,0.000000,0.035804,Multiple Indicator Cluster Survey,NaT
28,HTI,Haiti,LAC,LAC,Low income (L),0.257727,0.147930,0.406182,0.002489,0.643084,Demographic and Health Survey,NaT
29,IND,India,SA,SA,Lower middle income (LM),0.115142,0.073241,0.208139,0.006545,0.420647,Demographic and Health Survey,NaT
32,ITA,Italy,ECA,WE,High income (H),0.748949,NaN,NaN,NaN,NaN,Multiscopo sulle famiglie: aspetti della vita ...,2018-01-01
34,JOR,Jordan,MENA,MENA,Upper middle income (UM),0.415020,0.412198,0.415377,0.251164,0.725093,Demographic and Health Survey,NaT
35,KEN,Kenya,SSA,ESA,Lower middle income (LM),0.385000,NaN,0.289000,NaN,NaN,STEP Skills Measurement Household Survey 2013 ...,2013-01-01
36,KIR,Kiribati,EAP,EAP,Lower middle income (LM),0.593123,0.362094,0.772532,0.170034,0.895960,Multiple Indicator Cluster Survey,NaT
41,MDV,Maldives,SA,SA,Upper middle income (UM),0.733189,0.701298,0.767042,0.564644,0.956434,Demographic and Health Survey,NaT
45,MNE,Montenegro,ECA,EECA,Upper middle income (UM),0.817912,0.761788,0.848764,0.516154,1.000000,Multiple Indicator Cluster Survey,NaT
46,MAR,Morocco,MENA,MENA,Lower middle income (LM),0.194726,0.124706,0.247772,NaN,NaN,Morocco Household and Youth Survey 2010,2010-01-01
49,NIC,Nicaragua,LAC,LAC,Lower middle income (LM),0.040654,NaN,NaN,NaN,NaN,Nicaragua National Demographic and Health Surv...,2011-12-01
50,NER,Niger,SSA,WCA,Low income (L),0.062439,NaN,NaN,NaN,NaN,National Survey on Household Living Conditions...,NaT
51,NGA,Nigeria,SSA,WCA,Lower middle income (LM),0.041823,NaN,NaN,NaN,NaN,"General Household Survey, Panel 2018-2019, Wave 4",NaT
55,LCA,Saint Lucia,LAC,LAC,Upper middle income (UM),0.510147,0.532091,0.426344,0.069626,NaN,Multiple Indicator Cluster Survey,2012-01-01
60,SOM,Somalia,SSA,ESA,Low income (L),0.141898,NaN,NaN,NaN,NaN,Somalia High Frequency Survey,NaT
61,ZAF,South Africa,SSA,ESA,Upper middle income (UM),0.184977,NaN,NaN,NaN,NaN,South Africa Living Conditions Survey 2014-15,NaT
67,THA,Thailand,EAP,EAP,Upper middle income (UM),0.770784,0.729643,0.826723,0.602910,0.969364,Multiple Indicator Cluster Survey,NaT
68,MKD,North Macedonia,ECA,EECA,Upper middle income (UM),0.933706,0.919881,0.943834,0.747631,1.000000,Multiple Indicator Cluster Survey,NaT
76,UKR,Ukraine,ECA,EECA,Lower middle income (LM),0.794000,NaN,0.794000,NaN,NaN,STEP Skills Measurement Household Survey 2013 ...,2013-01-01
77,GBR,United Kingdom,ECA,WE,High income (H),0.993000,NaN,NaN,NaN,NaN,UK Data Archive Information for the Study 8298...,2016-01-01
78,URY,Uruguay,LAC,LAC,High income (H),0.701599,0.484001,0.726310,0.529297,NaN,Multiple Indicator Cluster Survey,NaT
80,VNM,Viet Nam,EAP,EAP,Lower middle income (LM),0.673000,NaN,0.673000,NaN,NaN,STEP Skills Measurement Household Survey 2012 ...,2012-01-01
81,ZMB,Zambia,SSA,ESA,Lower middle income (LM),0.073372,0.025089,0.138070,0.000000,0.280701,Demographic and Health Survey,NaT
82,ZWE,Zimbabwe,SSA,ESA,Lower middle income (LM),0.292031,0.202864,0.510244,0.053687,0.641545,Multiple Indicator Cluster Survey,NaT

In [73]:
df4_with_null.size

408

In [74]:
# Impute missing values with the mean of each column
#This is a simple method and can work well if the missing values are missing completely at random.
df4['Rural'].fillna(df4['Rural'].mean(), inplace=True)
df4['Urban'].fillna(df4['Urban'].mean(), inplace=True)
df4['Poorest'].fillna(df4['Poorest'].mean(), inplace=True)
df4['Richest'].fillna(df4['Richest'].mean(), inplace=True)
df4.head()

,ISO3,Countries and areas,Region,Sub-region,Income Group,Total,Rural,Urban,Poorest,Richest,Data source,Time period
1,AGO,Angola,SSA,ESA,Lower middle income (LM),0.240308,0.018753,0.326347,0.000000,0.686112,Demographic and Health Survey,NaT
2,ARG,Argentina,LAC,LAC,Upper middle income (UM),0.447193,0.313343,0.481605,0.206024,0.642541,Multiple Indicator Cluster Survey,2011-12-01
3,ARM,Armenia,ECA,EECA,Upper middle income (UM),0.848591,0.778453,0.909979,0.540645,1.000000,Demographic and Health Survey,NaT
4,BGD,Bangladesh,SA,SA,Lower middle income (LM),0.419667,0.381093,0.567928,0.125420,0.787830,Multiple Indicator Cluster Survey,2019-01-01
5,BRB,Barbados,LAC,LAC,High income (H),0.756602,0.759691,0.755032,0.038847,1.000000,Multiple Indicator Cluster Survey,2012-01-01

In [75]:
print("Unique values in 'Region':", df4['Region'].unique())

Unique values in 'Region': ['SSA' 'LAC' 'ECA' 'SA' 'EAP' 'MENA']

In [76]:
print("Unique values in 'Income Group':", df4['Income Group'].unique())

Unique values in 'Income Group': ['Lower middle income (LM)' 'Upper middle income (UM)' 'High income (H)'
 'Low income (L)']

In [77]:
print("Unique values in 'Sub-region':", df4['Sub-region'].unique())

Unique values in 'Sub-region': ['ESA' 'LAC' 'EECA' 'SA' 'WCA' 'EAP' 'MENA' 'WE']

In [78]:
df4.duplicated().sum()

0